<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" type="text/css" />

    <title>Customer Support</title>
  </head>
  <body>
    <!-- create nav links  -->
    <nav class="nav">
      <a class="nav-link" href="/home">Home</a>
      <a class="nav-link current-page" href="/">/ Customer Support</a>
    </nav>

    <!-- title, heading, sub-heading -->
    <header>
      <section class="cs-header">
        <h1 class="primary-title">CUSTOMER SUPPORT</h1>
        <h2 class="primary-heading">How can we help you today?</h2>
        <h3 class="primary-subheading">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum
          quam quis justo sodales, at aliquet dui maximus.
        </h3>
      </section>
    </header>

    <!-- FAQ Grid (page-design-grid) -->
    <main>
      <section class="cs-grid-section">
        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="computer icon" />
          </section>
          <section class="tile-description">
            <h3 class="primary-highlight">Your Orders</h3>
            <p class="primary-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>

        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="person icon" />
          </section>
          <section class="tile-description">
            <h3 class="primary-highlight">Your Account</h3>
            <p class="primary-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>

        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="Q&A icon" />
          </section>
          <section class="tile-description">
            <h3 class="primary-highlight">FAQs</h3>
            <p class="primary-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>
        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="truck icon" />
          </section>
          <section class="tile-description">
            <h3 class="primary-highlight">Shipping and Delivery</h3>
            <p class="primary-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>

        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="box icon" />
          </section>
          <section class="tile-description">
            <h3 class="primary-highlight">Product Registration</h3>
            <p class="primary-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>

        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="paper icon" />
          </section>
          <section class="tile-description">
            <h3 class="primary-highlight">Policies</h3>
            <p class="primary-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>

        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="checkmark icon" />
          </section>
          <section class="tile-description">
            <h3 class="primary-highlight">Warrenties</h3>
            <p class="primary-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>
      </section>

      <!-- FAQ title, heading -->
      <section class="faq-section">
        <section class="faq-sec-1">
          <h1 class="primary-title">FREQUENTLY ASKED QUESTIONS</h1>
        </section>

        <section class="faq-sec-2">
          <h2 class="secondary-heading">How can we help you today?</h2>

          <nav class="nav">
            <a class="nav-link" href="/faq">View all FAQs</a>
          </nav>
        </section>

        <!-- FAQ Panel -->
        <section class="q-panel">
          <button class="panel-expand">+</button>
          <button class="panel-collapse">-</button>
          <p class="secondary-highlight">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </section>
        <section class="a-panel">
          <p class="primary-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nam rutrum
            quam quis justo sodales, at aliquet dui maximus.
          </p>
        </section>
      </section>
    </main>

    <!-- FAQ Tiles (page-design-faq) -->
  </body>
</html>
