<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- create nav links  -->
    <nav class="crumbs">
      <a class="crumb" href="/home">Home</a>
      <a class="crumb" href="/">/ Customer Support</a>
    </nav>

    <!-- title, heading, sub-heading -->
    <header>
      <section class="section-1">
        <h1 class="primary-title">CUSTOMER SUPPORT</h1>
        <h2 class="heading">How can we help you today?</h2>
        <h3 class="sub-heading">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum
          quam quis justo sodales, at aliquet dui maximus.
        </h3>
      </section>
    </header>

    <!-- FAQ Grid (page-design-grid) -->
    <main>
      <section class="section-2">
        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="computer icon" />
          </section>
          <section class="tile-description">
            <h3 class="secondary-title">Your Orders</h3>
            <p class="back-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>

        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="person icon" />
          </section>
          <section class="tile-description">
            <h3 class="secondary-title">Your Account</h3>
            <p class="back-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>

        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="Q&A icon" />
          </section>
          <section class="tile-description">
            <h3 class="secondary-title">FAQs</h3>
            <p class="back-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>
        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="truck icon" />
          </section>
          <section class="tile-description">
            <h3 class="secondary-title">Shipping and Delivery</h3>
            <p class="back-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>
        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="box icon" />
          </section>
          <section class="tile-description">
            <h3 class="secondary-title">Product Registration</h3>
            <p class="back-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>
        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="paper icon" />
          </section>
          <section class="tile-description">
            <h3 class="secondary-title">Policies</h3>
            <p class="back-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>
        <section class="tile">
          <section class="tile-icon">
            <img src="https://via.placeholder.com/70" alt="checkmark icon" />
          </section>
          <section class="tile-description">
            <h3 class="secondary-title">Warrenties</h3>
            <p class="back-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </section>
        </section>
      </section>

      <!-- FAQ title, heading -->
      <section class="faq-section">
        <section>
          <h1 class="primary-title">FREQUENTLY ASKED QUESTIONS</h1>
          <h2 class="heading">How can we help you today?</h2>
        </section>
        <nav class="crumbs">
          <a class="crumb" href="/faq">View all FAQs</a>
        </nav>
      </section>
    </main>

    <!-- FAQ Tiles (page-design-faq) -->
  </body>
</html>
